body {
    font-family: 'Courier Prime', ;
    background-image: url("home.jpg");
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
}
/* header{
  background-image: url("main.jpg");
  height: 100vh;
  margin: 0;
  padding: 0;
} */
.sidepanel  {
    width: 300px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Gotu', sans-serif;
  }
  
.sidepanel h1 {
    color: floralwhite;
    margin-left: 20px;
}
.sidepanel h2 {
  color: floralwhite;
  margin-left: 20px;
}
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Mali', cursive;
  }
  
.sidepanel a:hover {
    color: #f1f1f1;
  }
  
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
  }
  
.openbtn {
    margin: auto;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
.openbtn:hover {
    background-color:#444;
  }
.container {
    width: 450px;
    height: 450px;
    background: rgb(255, 255, 255, 0.6);
    text-align: center;
    border: 1px solid #dddddd;
    border-radius: 5px ;
    margin: 8% 39%;
    box-shadow:0 0 16px rgb(48, 46, 46);
    position: fixed;
    font-family: 'Gotu', sans-serif;
}
.container h1{
  font-family: 'Mali', cursive;
}

.label-input {
    margin-bottom: 0.6rem;
    background: #fafafa;
    border: 1.5px solid #e0dddd;
    padding: 12px;
    width: 50%;
    outline: none;
    transition: 0.2s;
    font-family: 'Gotu', sans-serif;
}
.label-input:focus{
  border: 3px solid rgb(110, 108, 243);
  
}

.boxsubmit {
    background: #44b1c7;
    border: 1px solid #ddd;
    color: #ffffff;
    padding: 10px;
    width: 55% ;
    font-family: 'Gotu', sans-serif;
    transition: 0.5s;
}
.boxsubmit:hover{
  width: 30% ;
  border: 3px solid;
  border-radius:20px ;
  color: #000;
  background: rgb(208, 230, 88);
  font-size: 18px;
}  
