body {
    font-family: 'Courier Prime', ;
    background-image: url("home.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}
.sidepanel{
    width: 300px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Gotu', sans-serif;
  }
  
.sidepanel h1 {
    color: floralwhite;
    margin-left: 20px;
}
.sidepanel h2 {
  color: floralwhite;
  margin-left: 20px;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Mali', cursive;
  }
  
.sidepanel a:hover {
    color: #f1f1f1;
  }
  
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
  }
  
.openbtn {
    margin: 0;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
.openbtn:hover {
    background-color:#444;
  }

.cos2{
    border: 3px solid rgb(0, 0, 0);
    width: 100px;
    padding: 0;
    
}
.HeadADD .cos1{
    background: linear-gradient(90deg, rgba(19,178,90,1) 0%, rgba(50,175,119,1) 24%, rgba(0,212,255,1) 100%);
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 3px solid rgb(0, 0, 0);
   
}

.HeadADD{
    border-collapse: collapse;
    width: 200px;
    margin: 11% 23%;
    text-align: center;
}