body {
    font-family: 'Courier Prime', ;
    background-image: url("home.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}
.sidepanel{
    width: 300px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Gotu', sans-serif;
  }
  
.sidepanel h1 {
    color: floralwhite;
    margin-left: 20px;
}
.sidepanel h2 {
  color: floralwhite;
  margin-left: 20px;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Mali', cursive;
  }
  
.sidepanel a:hover {
    color: #f1f1f1;
  }
  
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
  }
  
.openbtn {
    margin: 0;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
.openbtn:hover {
    background-color:#444;
  }


.member{
  width: 50%;
  height: 300px;
  /* background-color: rgb(255, 255, 255); */
  background: none;
  margin: 3% 30%;
  
}
.member h1{
  text-align: center;
  font-family: 'Mali', cursive;
  font-size: 50px;
  color:rgb(0, 0, 0);
}
.HeadADD {
  text-align: center;
  font-family: 'Gotu', sans-serif;
  font-size: 25px;
  border-collapse: collapse ;
 }
.HeadADD .cos1{
  background-color: #009879;
  color: rgb(255, 255, 255);
  font-weight: bold;
  width: 400px;
  height: 50px;
  border: 2px solid;
}
.cos2 input[type=text]{
  width: 97%;
  height: 50px;
  font-size: 16px;
  border-collapse: collapse ;
  text-align: center;
  border: 2px solid;
  font-family: 'Mali', cursive;
  transition: 0.5s;
}
.cos2 input[type=text]:focus{
  border: 4px solid red;
  font-size: 20px;
  color: rgb(255, 0, 0);
  height: 70px;
}
.cos2 select{
  width: 97%;
  height: 50px;
  font-size: 16px;
  border-collapse: collapse ;
  text-align: center;
  border: 2px solid;
  font-family: 'Mali', cursive;
  color: #000;
  font-weight: bold;
}
.Edit{
  width: 50px;
  height: 30px;
  border: 2px solid rgb(51, 255, 0);
  color: #000;
  background: white;
  font-family: 'Gotu', sans-serif;
  transition: 0.5s;
}
.Edit:hover{
  width: 70px;
  height: 50px;
  border: 4px solid rgb(0, 47, 255);
  font-size: 20px;
  font-weight: bold;
}
.DELETE{
  width: 70px;
  height: 30px;
  border: 2px solid rgb(255, 0, 0);
  color: #000;
  background: white;
  font-family: 'Gotu', sans-serif;
  transition: 0.5s;
}
.DELETE:hover{
  width: 80px;
  height: 50px;
  border: 4px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  background: rgb(255, 0, 0);
  font-family: 'Gotu', sans-serif;
  transition: 0.5s;
  font-weight: bold;
}
.searchbar{
  text-align: center;
}
form.example input[type=text] {
  padding: 12px;
  font-size: 20px;
  border: 2px solid ;
  text-align: center;
  width: 25%;
  background: #f1f1f1;
  transition: 0.4s;
  font-family: 'Mali', cursive;
  font-weight: bold;
}
form.example input[type=text]:focus {

  border: 4px solid red;
  width: 40%;
  
}
form.example .Bsearch {
  width: 50px;
  padding: 12px;
  background: #2196F3;
  color: white;
  font-size: 20px;
  border: 2px solid ;
}
form.example .Bsearch:hover {
  background: #0b7dda;
  color: gold;
}
.Notpay{
  width: 70px;
  height: 35px;
  background: white;
  border: none;
  font-family: 'Mali', cursive;
  font-weight: bold;
  transition: 0.5s;
}
.Notpay:hover{
  width: 90px;
  height: 55px;
  background: yellow;
  border: 3px solid ;
  font-size:18px; 
}
.pay{
  width: 70px;
  height: 35px;
  background: white;
  border: none;
  font-family: 'Mali', cursive;
  font-weight: bold;
  transition: 0.5s;
}
.pay:hover{
  width: 90px;
  height: 55px;
  background: yellow;
  border: 3px solid ;
  font-size:18px; 
}
.ALL{
  width: 70px;
  height: 35px;
  background: white;
  border: none;
  font-family: 'Mali', cursive;
  font-weight: bold;
  transition: 0.5s;
}
.ALL:hover{
  width: 90px;
  height: 55px;
  background: rgb(0, 255, 55);
  border: 3px solid ;
  font-size:18px; 
  color: rgb(255, 255, 255);
}
.counthmember{
  width: 320px;
  height: 200px;
  background: rgba(8, 221, 236, 0.4);
  float: right;
  margin: 2% 1%;
  border-radius: 10px;
  font-family: 'Mali', cursive;
  box-shadow:0 0 16px rgb(0, 0, 0);
}
.counthmember .textCount{
  margin-left: 5%;
  font-size: 20px;
}