body {
    /* background: linear-gradient(45deg, rgb(219, 192, 115) 10%, rgb(233, 155, 37) 70%); */
    
    background: url("index.jpg");
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
}

.container {
    width: 450px;
    height: 280px;
    background:rgb(255, 255, 255, 0.6);
    text-align: center;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin: 17% 35%;
    box-shadow:0 0 16px rgb(48, 46, 46);
    position: fixed;
    font-family: 'Courier Prime', monospace;
}

.label-input {
    margin-bottom: 1rem;
    background: #fafafa;
    border: 1.5px solid #e0dddd;
    padding: 12px;
    width: 50%;
    transition: 0.4s;
    font-family: 'Gotu', sans-serif;
}
.label-input:focus{
    border: 3px solid rgb(110, 108, 243);
}

.boxsubmit {
    background: #44b1c7;
    border: 1px solid #ddd;
    color: #ffffff;
    padding: 10px;
    width: 55% ;
    text-transform: uppercase;
    font-family: 'Gotu', sans-serif;
}




