body {
    background: linear-gradient(45deg, rgb(233, 155, 37) 10%, rgb(219, 192, 115));
    font-family: 'Courier Prime', monospace;
}

.container {
    width: 450px;
    height: 420px;
    background: #fafafa;
    text-align: center;
    border: 1px solid #dddddd;
    margin: 12% 35%;
    box-shadow:0 0 16px rgb(48, 46, 46);
    position: fixed;
    
}

.label-input {
    margin-bottom: 0.6rem;
    background: #fafafa;
    border: 1.5px solid #e0dddd;
    padding: 12px;
    width: 50%;
}

.boxsubmit {
    background: #44b1c7;
    border: 1px solid #ddd;
    color: #ffffff;
    padding: 10px;
    width: 55% ;
    
}

